$gray: #3d4852;
$light-gray: #f0f2f3;
$gray-on-gray: #6d7780;

$gray-dropdown: #cdd1d4;

$yellow: #f4d759;

$green: #28c278;
$green-hover: #2dd484;

$orange: #f07e5e;
$orange-hover: #fd9476;

$blue: #4fc4e6;
$blue-hover: #5dd3f6;


$font: 'Helvetica Neue';

html {
  font-family: $font;
}

.body {

}
